<div class="flakes-mobile-top-bar">
  <a href="" class="logo-wrap">
    <%= image_tag asset_path('flakes/img/site-wide/logo.png'), height: '30px' %>
  </a>

  <a href="" class="navigation-expand-target">
    <%= image_tag asset_path('flakes/img/site-wide/navigation-expand-target.png'), height: "26px" %>
  </a>
</div>
